
<html>
<header>
<nav class="navbar fixed-top navbar-light bg-dark">	
	<ul class="nav nav-pills nav-fill">
	  <li class="nav-item">
	    <a class="nav-link active" href="/">Home</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="/contact">Contact</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="/team">Team</a>
	  </li>
	</ul>
</nav>
</header>

<body class="mx-auto" style="width: 400px;">
	<% @gossip.each do |popo| %>
	<div class="card text-center">
  <div class="card-header">
  	Gossip n°<%= popo.id %>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= popo.author %></h5>
    <p class="card-text"><%= popo.content %></p>
    <a href="/gossips/<%= popo.id %>" class="btn btn-primary">En savoir plus</a>
  </div>
  <div class="card-footer text-muted">
    <%= popo.created_at %>
  </div>
</div>
</br>

	<% end %>
</body>
</html>